binary
binary.img
binary.iso
binary.list
binary.packages

cache

chroot/

config/binary
config/bootstrap
config/chroot
config/common
config/source

.stage

source
source.img
source.iso
source.list
source.packages
