binary
binary.img
binary.iso
binary.list
binary.packages

build.log

cache

chroot/

config/binary
config/bootstrap
config/chroot
config/common
config/source

.stage/*
.stage

source
source.img
source.iso
source.list
source.packages

dl
dl/*

config/chroot_local-includes/usr/share/framework-3.2
config/chroot_local-includes/usr/share/framework-3.2/*
config/chroot_local-includes/usr/share/hydra-5.4-src
config/chroot_local-includes/usr/share/hydra-5.4-src/*
config/chroot_local-includes/usr/share/hydra-libssh0.2.patch
config/chroot_local-includes/usr/share/libssh-0.2
config/chroot_local-includes/usr/share/libssh-0.2/*
config/chroot_local-includes/usr/share/netkit
config/chroot_local-includes/usr/share/netkit/*
config/chroot_local-includes/usr/share/visualnetkit-1.4
config/chroot_local-includes/usr/share/visualnetkit-1.4/*

